{% extends "base_menu.html" %}

{% block title %}晶云平台BUG列表{% endblock %}

{% block center_content %}
    {#BUG列表#}
    {% if bug_list %}
        <table  class="table table-bordered table-hover api-list-table">
            <caption>BUG列表</caption>
            <tr>
                <th scope="col" width="38%">BUG标题</th>
                <th scope="col" width="16%">BUG状态</th>
                <th scope="col" width="8%">BUG提交者</th>
                <th scope="col" width="12%">BUG提交时间</th>
                <th class="text-center" scope="col" width="4%">操作</th>
            </tr>
            {% for item in bug_list %}
                <tr>
                    <td>{{ item["bug_title"] }}</td>
                    {% if item["bug_status"] == 0 %}
                    <td class="redBg">{{ bug_status_desc[item["bug_status"]] }}</td>
                    {% elif item["bug_status"] == 1%}
                    <td class="orgBg">{{ bug_status_desc[item["bug_status"]] }}</td>
                    {% elif item["bug_status"] == 2%}
                    <td class="yellowBg">{{ bug_status_desc[item["bug_status"]] }}</td>
                    {% elif item["bug_status"] == 3%}
                    <td class="greenBg">{{ bug_status_desc[item["bug_status"]] }}</td>
                    {% elif item["bug_status"] == 4%}
                    <td class="blueBg">{{ bug_status_desc[item["bug_status"]] }}</td>
                    {% elif item["bug_status"] == 5%}
                    <td class="purpleBg">{{ bug_status_desc[item["bug_status"]] }}</td>
                    {% else %}
                    <td>{{ bug_status_desc[item["bug_status"]] }}</td>
                    {% endif %}
                    <td>{{ item["submitter"] }}</td>
                    <td>{{ item["submit_time"] }}</td>
                    <td class="text-center"><a href="{{ url_prefix }}/info/?bug_no={{ item["bug_no"] }}">查看</a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    {# 新建BUG #}
    {% if user_role | bit_and(role_desc["bug_new"]) == role_desc["bug_new"]  %}
        <form action="{{ url_prefix }}/new/" method="post">
            <input class="form-control pull-left bug-input" name="bug_title" >
            <button class="btn btn-primary" type="submit">新建BUG</button>
        </form>
    {% endif %}
    <input id="bug_statistic_url" value="{{ url_prefix }}/statistic/" style="display: none"/>
    <table>
        <tr>
            <td >
                <div id="bar_month"></div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="bar_all"></div>
            </td>
        </tr>
    </table>
{% endblock %}