{% extends "base.html" %}

{% block title %}添加多个状态码{% end %}

{% block content %}
    <a class="btn btn-primary pull-right margin20" href="{{ return_url }}/">查看状态码</a>
    <button type="button" class="btn btn-primary margin20" id="btn_new_sub" value="新建参数类状态码">新建参数类状态码</button>
    <div class="div_new_sub" style="display: none;">
        <p class="bottom10">
            <select class="box-side width150 pull-left margin10" id="service_id" onchange="set_fun_id();"></select>
            <select class="box-side width150 pull-left margin10" id="fun_id" onchange="preview_status_code();"></select>
        </p>
        <span class="clear block" style="margin-bottom: 2em"></span>

        <p class="bottom10" id="p_status_prefix">
        </p>
        <span class="clear block" style="margin-bottom: 2em"></span>

        <p class="bottom10">
            <input class="form-control pull-left width150 margin10" id="param_name" placeholder="参数名"
                   onkeyup="preview_status_code();">
            <select class="form-control pull-left width150 margin10" id="param_type" onchange="preview_status_code();">
                <option>string</option>
                <option>int</option>
                <option>list</option>
                <option>object</option>
                <option>bool</option>
            </select>
            <button class="btn btn-primary pull-left" id="btn_param_mul">新建</button>
            <span class="clear block"></span>
        </p>
        <table class="table table-bordered table-hover api-list-table" id="tb_preview_code">
            <tr>
                <th scope="col" width="17%">状态码</th>
                <th scope="col" width=70%">解释</th>
                <th scope="col" width=8%">操作</th>
            </tr>
        </table>
    </div>
    <button type="button" class="btn btn-primary margin20" id="btn_new_error" value="新建依赖服务类状态码" disabled>新建依赖服务类状态码
    </button>
    <div class="div_new_error" style="display: none;">
        <table class="table table-bordered table-hover api-list-table" id="tb_error_type">
            <tr>
                <th scope="col" width="7%">编码</th>
                <th scope="col" width=15%">错误标题</th>
                <th scope="col" width=78%">错误解释</th>
            </tr>
        </table>
        <p class="bottom10">
            <input class="form-control pull-left width100 margin10" id="error_no" placeholder="功能暂时无法使用" required>
            <input class="form-control pull-left width150 margin10" id="error_title" placeholder="功能暂时无法使用" required>
            <input class="form-control pull-left width366 margin10" id="error_desc" placeholder="功能暂时无法使用" required>
            <button class="btn btn-primary pull-left" id="btn_error_new" disabled>新建</button>
            <span class="clear block"></span>
        </p>
    </div>

    <input id="fun_info_url" value="{{ fun_info_url }}" style="display: none">
    <input id="error_type_url" value="{{ error_type_url }}" style="display: none">
    <input id="del_status_code_url" value="{{ del_status_code_url }}" style="display: none">
    {% module StaticModule('t_js/Common/my_requests.js') %}
    {% module StaticModule('t_js/API_Status/status_mul_new.js') %}
{% end %}