{% extends "base.html" %}

{% block title %}API返回状态码{% end %}

{% block content %}
    <a class="btn btn-primary pull-right margin20" href="{{ return_url }}" title="">返回API解释</a>
    <div class="clear bottom20">
        <input class="form-control" id="search_code" onkeyup="search_code(1);" placeholder="搜索状态码" value="{{ search_status }}" />
    </div>
    <div style="position: relative">
    <table class="table table-bordered table-hover api-list-table">
      <tr>
        <th scope="col" width="10%">状态码</th>
        <th scope="col" width=85%">解释</th>
        {% if del_power %}
            <th scope="col" width=5%">操作</th>
        {% end %}
      </tr>
      {% for item in status_info %}
          <tr id="s_{{ item["status_code"] }}">
             <td class="status_move"><span>{{ item["status_code"][:2] }}</span> <span>{{ item["status_code"][2:4] }}</span> <span>{{ item["status_code"][4:6] }}</span> <span>{{ item["status_code"][6:8] }}</span></td>
             <td>{{ item["code_desc"] }}</td>
             {% if del_power %}
                 <td><a href="{{ del_status_code_url }}?status_code={{ item["status_code"] }}" title="">删除</a></td>
             {% end %}
          </tr>
      {% end %}
    </table>
    <div class="status_out" id="status_code_info">ni</div>
    <ul class="pagination" id="pagination">
    </ul>
  </div>
    {% if new_power %}
        <button type="button" class="btn btn-primary margin20" id="conBtn">单个新建</button>
        <div class="newMode" style="display: none;">
        <form action="{{ url_for('develop_status_view.new_status') }}" method="post">
          <p class="bottom10">
            <select class="box-side width150 pull-left margin10" id="service_id" name="service_id" ></select>
            <select class="box-side width150 pull-left margin10 updateinfo" id="fun_id" name="fun_id" ></select>
            <select class="box-side width150 pull-left margin10 updateinfo" id="type_id" name="type_id" ></select>
            <input name="error_id" class="form-control pull-left width100 margin10" id="error_id" required>
            <input name="error_desc" class="form-control pull-left width366 margin10" id="error_desc" required>
            <button type="submit" class="btn btn-primary pull-left" id="btn_new">新建</button>
            <!-- 复选框组 start -->
            <span class="pull-left top6 left5">
             <label class="checkbox-inline updateinfo"><input type="checkbox" id="show_exist" value="复选框" />显示已有状态码</label>
            </span>
            <!-- 复选框组 end -->
            <span class="clear block"></span>
          </p>
          <p class="bottom20" id="new_info_show"></p>
          <p id="service_desc"></p>
          <p id="fun_desc"></p>
          <p id="error_type_desc"></p>
        </form>
        {% if new_module_power %}
        <a href="module/">添加状态码模块</a>
        {% end %}
        </div>
        <a href="mul/"><button type="button" class="btn btn-primary margin20" id="mul_new_btn">批量新建</button></a>
        {% end %}
    <input id="fun_info_url" value="{{ fun_info_url }}" style="display: none">
    <input id="error_type_url" value="{{ error_type_url }}" style="display: none">
    {% module StaticModule('t_js/Common/my_requests.js') %}
    {% module StaticModule('t_js/Common/add_node.js') %}
    {% module StaticModule('t_js/API_Status/status_api.js') %}
{% end %}