{% extends "base_menu.html" %}

{% block title %}交流{% end %}

{% block center_content %}
    <div class="bottom20"></div>
    <table class="table table-bordered table-hover api-list-table bottom20" id="chat_message">
    <tr>
        <th scope="col" width="10%">发送者</th>
        <th scope="col" width=90%">内容</th>
      </tr>
    </table>
    <li><textarea class="box-side width300" rows="3" id="chat"></textarea></li>
    <li><button onclick='send()' class="btn btn-primary" >发送</button></li>

    {% module StaticModule('t_js/Chat/Chat.js') %}
{% end %}