<div class="form-group apiContentLine">
    <ul>
        <li>
            <label for="">消息标签：</label>
            <input class="box-side width300" id="message_tag" type="text"/>
        </li>
        <li>
            <label for="">时间间隔：</label>
            <input class="box-side width100" id="interval_time" type="text"/>
        </li>
        <label class="checkbox-inline"><input type="checkbox" name="email_notify"/>邮件通知</label>
        <label class="checkbox-inline"><input type="checkbox" name="wx_notify"/>微信通知</label>
        <label class="checkbox-inline" id="lab_ding_notify"><input type="checkbox" name="ding_notify"/>钉钉通知</label>
        <li class="display_none" id="li_access_ding">
            <label for="">钉钉Token：</label>
            <input class="box-side width300" id="access_ding" type="text"/>
        </li>
    </ul>
</div>
<button class="btn btn-success btn-down api-newBtn" id="btn_new_tag">新建</button>