<div>
    <div style="position: relative">
        <table class="table table-bordered table-hover api-list-table" id="t_tag">
            <tr>
                <th scope="col" width="20%">消息标签</th>
                <th scope="col" width="10%">邮件通知</th>
                <th scope="col" width=10%">微信通知</th>
                <th scope="col" width=10%">钉钉通知</th>
                <th scope="col" width=15%">时间间隔(s)</th>
                <th scope="col" width=15%">建立时间</th>
                <th scope="col" width=20%">操作</th>
            </tr>
        </table>
    </div>
</div>
