<div>
    <div style="position: relative">
        <table class="table table-bordered table-hover api-list-table" id="t_tag">
            <tr>
                <th scope="col" width="20%">消息标签</th>
                <th scope="col" width="10%">邮件通知</th>
                <th scope="col" width=10%">微信通知</th>
                <th scope="col" width=10%">钉钉通知</th>
                <th scope="col" width=10%">时间间隔(s)</th>
                <th scope="col" width=15%">建立时间</th>
                <th scope="col" width=10%">拥有者</th>
                <th scope="col" width=15%">操作</th>
            </tr>
            <tr v-if="need_login">
                <td class="text-center" colSpan="8">需要登录<a :href="login_url">登录</a></td>
            </tr>
            <tr v-else-if="tags.length == 0">
                <td class="text-center" colSpan="8">还没有人添加标签</td>
            </tr>
            <template v-for="(item, index) in tags">
                <tr v-if="!item.is_delete">
                    <td>{{item.message_tag}}</td>
                    <td><label class="checkbox-inline"><input type="checkbox" class="left5" v-model="item.notify_email" :disabled="!item.is_owner" @change="update_action(index)" />通知</label></td>
                    <td><label class="checkbox-inline"><input type="checkbox" class="left5" v-model="item.notify_wx" :disabled="!item.is_owner" @change="update_action(index)"  />通知</label></td>
                    <td @click="show_ding(index)"><label class="checkbox-inline"><input type="checkbox" class="left5" v-model="item.notify_ding" :disabled="!item.is_owner" @change="update_action(index)"  />通知</label></td>
                    <td v-if="item.is_owner"><input style="border: 0px none; background-color: transparent" v-model.number="item.interval_time"  @change="update_action(index)" /></td>
                    <td v-else>{{item.interval_time}}</td>
                    <td>{{item.add_time}}</td>
                    <td>{{item.user_name}}</td>
                    <td><a href='javascript:void(0)' name='link_delete' v-if="item.is_owner" @click="delete_tag(index)">删除</a></td>
                </tr>
                <tr v-if="item.is_owner && item.show && !item.is_delete">
                    <td colspan="8">
                        <label for="">钉钉Token：</label>
                        <input class="box-side width600 margin10" name="access_ding" type="text" v-model.trim="item.access_ding" @change="update_action(index, 1)"/>
                        <label for="">钉的方式：</label>
                        <select class="box-side width300" name="ding_mode" v-model="item.ding_mode" @change="update_action(index)">
                            <option value="1">文本方式</option>
                            <option value="2">链接方式</option>
                        </select>
                    </td>
                </tr>
            </template>
        </table>
    </div>
</div>
