<div class="div_jy_wait_solve" style="display: none">
    <table class="table table-bordered table-hover api-list-table" id="t_wait_solve">
        <caption>等待解决的问题</caption>
        <tr>
            <th scope="col" width="38%">问题标题</th>
            <th scope="col" width="12%">问题状态</th>
            <th scope="col" width="8%">问题提交者</th>
            <th scope="col" width="14%">问题提交时间</th>
            <th scope="col" width="14%">问题级别</th>
            <th class="text-center" scope="col" width="4%">操作</th>
        </tr>
    </table>
</div>