<div class="div_jy_about_task" style="display: none">
    <div>
        <div class="clear bottom20">
            <select class="box-side width150 margin10" id="select_app_id">
            </select>
            <a>
                <button class="btn btn-primary" id="btn_query_task">查询</button>
            </a>
            <a id="link_today_task" class="status_move hand">今日任务</a>
            <a id="link_running_task" class="status_move hand">进行中任务</a>
            <a id="link_fail_task" class="status_move hand">失败任务</a>
            <label id="lab_s_error_key" class="hand error_result" style="display: none">输入的样本编号无效，请检查后重新输入</label>
        </div>
        <div style="position: relative">
            <table class="table table-bordered table-hover api-list-table" id="t_user_task">
                <tr>
                    <th scope="col" width="8%">任务编号</th>
                    <th scope="col" width="7%">帐号</th>
                    <th scope="col" width=15%">任务名称</th>
                    <th scope="col" width=10%">任务输入</th>
                    <th scope="col" width=15%">任务输出</th>
                    <th scope="col" width=8%">状态</th>
                    <th scope="col" width=7%">DB状态</th>
                    <th scope="col" width=14%">开始时间</th>
                    <th scope="col" width=10%">历时</th>
                    <th scope="col" width=6%">日志</th>
                </tr>
            </table>
        </div>
    </div>
    <input id="task_log_url" class="display_none" value="{{ task_log_url }}">
</div>
