<div class="div_jy_about_sample">
    <div>
        <div class="clear bottom20">
            <input class="box-side width150 inputPadding5" id="s_no" placeholder="样本编号"/>
            <a>
                <button class="btn btn-primary" id="btn_last_sample">显示最近创建</button>
            </a>
            <label id="lab_s_error_key" class="hand error_result" style="display: none">输入的样本编号无效，请检查后重新输入</label>
            <a name="link_top_stage" class="status_move hand" style="display: none" link_table="t_sys_sample">查看前6状态</a>
            <a id="link_top_variant" class="status_move hand" style="display: none">检查前6突变</a>
        </div>
        <div style="position: relative">
            <table class="table table-bordered table-hover api-list-table" id="t_sys_sample">
                <tr>
                    <th scope="col" width="6%">样本编号</th>
                    <th scope="col" width="10%">样本名称</th>
                    <th scope="col" width=10%">病人编号</th>
                    <th scope="col" width=15%">创建时间</th>
                    <th scope="col" width=6%">显示级别</th>
                    <th scope="col" width=5%">频道</th>
                    <th scope="col" width=10%">状态</th>
                    <th scope="col" width=8%">操作</th>
                </tr>
            </table>
        </div>
    </div>
    <div>
        <div class="clear bottom20">
            <input class="box-side width250 inputPadding5" id="su_no_name" placeholder="样本号或账户名"/>
            <a>
                <button class="btn btn-primary" id="btn_sample_user">查看</button>
            </a>
            <a name="link_top_stage" class="status_move hand" style="display: none" link_table="t_sample_user">查看前6状态</a>
            <label id="lab_su_error_key" class="hand error_result" style="display: none">输入的账户名无效，请检查后重新输入</label>
        </div>
        <div style="position: relative">
            <table class="table table-bordered table-hover api-list-table" id="t_sample_user">
                <tr>
                    <th scope="col" width="8%">样本编号</th>
                    <th scope="col" width="10%">所属帐号</th>
                    <th scope="col" width=10%">成员类型</th>
                    <th scope="col" width=10%">样本状态</th>
                    <th scope="col" width=8%">操作</th>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="sidebarBox" id="jdSampleLeftBox">
    <table class="table table-bordered table-hover">
        <tr>
            <th>项目编号</th>
            <th>项目名称</th>
            <th>操作</th>
        </tr>
        <tr>
            <td>111</td>
            <td>222</td>
            <td>333</td>
        </tr>
        <tr>
            <td>111</td>
            <td>222</td>
            <td>333</td>
        </tr>
    </table>
</div>