{% extends "base_menu.html" %}

{% block title %}晶读平台数据{% endblock %}

{% block js_content %}
    {{ 't_js/Common/JY_DIV.js' | make_static_html | safe }}
    {{ 't_js/Common/add_node.js' | make_static_html | safe }}
    {{ 't_js/Common/datetime_tools.js' | make_static_html | safe }}
    {{ 't_js/JingDu/project.js' | make_static_html | safe }}
    {{ 't_js/JingDu/sample.js' | make_static_html | safe }}
    {{ 't_js/JingDu/task.js' | make_static_html | safe }}
{% endblock %}

{% block center_content %}
    <button type="button" class="btn btn-primary margin20" id="btn_jy_about_project" >项目相关</button>
    <button type="button" class="btn btn-primary margin20" id="btn_jy_about_sample" >样本相关</button>
    <button type="button" class="btn btn-primary margin20" id="btn_jy_about_task">任务相关</button>
    {% include "JingDu/About_Project.html" %}
    {% include "JingDu/About_Sample.html" %}
    {% include "JingDu/About_Task.html" %}
{% endblock %}