{% extends "base_menu.html" %}

{% block title %}晶云工具{% end %}

{% block center_content %}
    <button type="button" class="btn btn-primary margin20" id="btn_jy_query_ip">晶云IP查询</button>
    <button type="button" class="btn btn-primary margin20" id="btn_jy_wait">待开发</button>
    {% include "Tools/Tools_IP.html" %}
    {% include "Tools/Tools_wait.html" %}

    {% module StaticModule('t_js/Common/JY_DIV.js') %}
    {% module StaticModule('t_js/Common/my_ip.js') %}
    {% module StaticModule('t_js/Tools/tools.js') %}
{% end %}