{% extends "base_menu.html" %}

{% block title %}查询{% endblock %}

{% block js_content %}
    {{ 't_js/Common/datetime_tools.js' | make_static_html | safe }}
    {{ 't_js/Article/query.js' | make_static_html | safe }}
{% endblock %}

{% block center_content %}
    <!-- 加载编辑器的容器 -->
    <div class="paddingTop50" id="article_container">
        <div class="form-group apiContentLine">
            <ul>
                <li>
                    <input class="box-side width800" id="query_str" type="text"/>
                    <a class="btn btn-primary" href="javascript:void(0)" title="">查询</a>
                    <a class="btn btn-primary" href="javascript:void(0)" title="">新建</a>
                </li>
            </ul>
            <input class="display_none" id="url_add_article" value="{{ url_add_article }}">
        </div>
        {#        <!-- 查询到的列表信息 start -->#}
        {#        {% if articles|length>0 %}#}
        {#            <div class="articleList">#}
        {#                <ul>#}
        {#                    {% for item in articles %}#}
        {#                        <li>#}
        {#                            <p><a href="" target="_blank">{{ item.title }}</a> </p>#}
        {#                            <p>{{ item.abstract }}</p>#}
        {#                            <p>{{ item.update_time|unix_timestamp }}&nbsp;&nbsp;&nbsp;&nbsp;[ 作者：{{ item.user_name }} ]</p>#}
        {#                        </li>#}
        {#                    {% endfor %}#}
        {#                </ul>#}
        {#            </div>#}
        {#        {% else %}#}
        {#            <div class="paddingTop50 text-center">暂无文章显示</div>#}
        {#        {% endif %}#}
        <!-- 查询到的列表信息 end -->
    </div>
{% endblock %}