{% extends "base_menu.html" %}

{% block title %}重新发布晶云测试环境{% endblock %}

{% block center_content %}
    {% if g.user_role | bit_and(g.role_value["release_ih_N"] + g.role_value["release_ytj_N"]) >= g.role_value["release_ih_N"] + g.role_value["release_ytj_N"]%}
    <button type="button" class="btn btn-primary margin20" id="btn_jy_release_ih" value="晶云测试环境">晶云测试环境</button>
        <button type="button" class="btn btn-primary margin20" id="btn_jy_release_ytj" value="晶云一体机" disabled>晶云一体机
        </button>
    {% endif %}
    {% if g.user_role | bit_and(g.role_value["release_ih_N"]) >= g.role_value["release_ih_N"] %}
        {% include "Release/Release_ih.html" %}
    {% endif %}
    {% if g.user_role | bit_and(g.role_value["release_ytj_N"]) >= g.role_value["release_ytj_N"] %}
        {% include "Release/Release_ytj.html" %}
    {% endif %}
    {{ 't_js/Common/JY_DIV.js' | make_static_html | safe }}
{% endblock %}