{% extends "base.html" %}

{% block title %}重新发布晶云测试环境{% endblock %}


{% block content %}
    <br />
    <a class="btn btn-primary pull-right" href="{{ url_for('dms_view.select_portal') }}" title="">主菜单</a>

  <!--系统备注及说明模块 start-->
    <div class="declare">
      <p class="redColor">预约需知：</p>
      <p>【1】预约需谨慎。</p>
      <p>【2】仅允许在每天的9、10、11、14、15、16、17点的10-20预约，例如10：10-10：20。</p>
      <p>【3】每个时段仅允许一个用户预约。例如10：10-10：20为一个时段。</p>
      <p>【4】每个帐号每天最多预约两次。</p>
      <p>【5】预约成功后，可通过查看下面的任务进度确定是否发布成功。</p>
      <p>【6】预约成功后，测试环境并不会立即从新发布，本系统会找个合适的实际启动重新发布任务。</p>
    </div>
  <!--系统备注及说明模块 end-->
  <div class="infoShow">
    <div class="form-group apiContentLine">
      <ul style="margin-bottom: 1em">
          <li>
          <label class="api-describe" for="">重启原因：</label>
          <select class="box-side" id="module_part" required>
             <option>修复BUG</option>
          </select>
        </li>
        <li>
          <label class="api-describe" for="">具体描述：</label>
          <textarea class="box-side" rows="3" id="module_desc" required></textarea>
        </li>
      </ul>
      <button id="btn_op_module" class="btn btn-success btn-down api-newBtn" {% if not g.release_period %}disabled>非预约时段{% else %}>预约{% endif %}</button>
    </div>
  </div>

    {% for data in range(3)  %}

        <div class="pull-left number">
          <form>
            <h4>zh_test</h4>
            <p>修复BUG</p>
          </form>
        </div>
        <!-- 编号 end -->

        <!-- 步骤模块 start -->
        <div class="step">

          <div class="pull-left market" title="10:10"><img src="{{ 't_images/one_success.png' | make_static_url }}" alt="" border="0">
            <p>预约成功</p>
          </div>

        <div class="pull-left market"><img src="{{ 't_images/two_success.png' | make_static_url }}" alt="" border="0">
            <p>启动任务</p>
        </div>

        <div class="pull-left market"><img src="{{ 't_images/two_success.png' | make_static_url }}" alt="" border="0">
            <p>发布中</p>
        </div>

        <div class="pull-left market"><img src="{{ 't_images/two_success.png' | make_static_url }}" alt="" border="0">
            <p>发布完成</p>
        </div>

        <div class="pull-left market"><img src="{{ 't_images/two_success.png' | make_static_url }}" alt="" border="0">
            <p>测试成功</p>
        </div>

        <div class="pull-left market"><img src="{{ 't_images/end_gray.png' | make_static_url }}" alt="" border="0">
            <p>提交成功</p>
        </div>
          <div class="clear"></div>
        </div>
    {% endfor %}

{% endblock %}