<div>
    <div style="position: relative" id="div_messages">
        <table class="table table-bordered table-hover api-list-table" id="t_messages">
            <tr>
                <th scope="col" width="10%">消息标签</th>
                <th scope="col" width="15%">推送时间</th>
                {#                <th scope="col" width=20%">IP认证</th>#}
                {#                <th scope="col" width=10%">拥有者</th>#}
                {#                <th scope="col" width=20%">备注</th>#}
                <th scope="col" width=15%">操作</th>
            </tr>
            <tr v-if="need_login">
                <td class="text-center" colSpan="3">需要登录<a :href="login_url">登录</a></td>
            </tr>
            <tr v-else-if="messages.length == 0">
                <td class="text-center" colSpan="3">最近没有消息</td>
            </tr>
            <template v-for="m_item in messages">
                <tr>
                    <td>{{m_item.message_tag}}</td>
                    <td>{{m_item.publish_time}}</td>
                    <td><a @click="m_item.show=!m_item.show" class="status_move">查看</a></td>
                </tr>
                <tr v-if="m_item.show">
                    <td colspan="2" v-html="m_item.message_content"></td>
                    <td v-html="m_item.readable_content"></td>
                </tr>
            </template>
            <tr v-if="can_load">
                <td class="text-center" colSpan="3"><a class="status_move" @click="load_more">加载更多</a></td>
            </tr>
        </table>
        <input id="url_cache_messages" class="display_none" value="{{ url_cache_messages }}" />
    </div>
</div>
