{% extends "base_menu.html" %}

{% block title %}晶云系统公共参数介绍{% endblock %}

{% block center_content %}
    <div class="clear bottom20">
        <input class="box-side width150"  placeholder="参数名称"/>
        <select class="box-side width150 margin10">
            <option value="all">all</option>
            <option value="unicode">unicode</option>
            <option value="int">int</option>
        </select>
        <a><button class="btn btn-primary" id="btn_new">搜索</button></a>
    </div>
    <table class="table table-bordered table-hover api-list-table" id="t_params_info">
        <tr>
            <th scope="col" width="14%">参数名称</th>
            <th scope="col" width=10%">参数类型</th>
            <th scope="col" width=10%">最小长度(值)</th>
            <th scope="col" width=10%">最大长度(值)</th>
            <th scope="col" width=13%">不允许字符</th>
            <th scope="col" width=13%">匹配字符</th>
            <th scope="col" width=20%">说明</th>
            <th scope="col" width=10%">操作</th>
        </tr>
    </table>
    <input id="param_role_level" style="display: none" value="{{ g.role_level }}">
    {% if g.role_level >  0 %}
    <a href="javascript:void(0)" data-toggle="modal" data-target="#div_add_param" id="a_popup">添加参数</a>
    <div class="modal fade" id="div_add_param" tabindex="-1" aria-hidden="true" >
        <input style="display: none" value="" id="sign">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">添加公共参数介绍</h4>
                </div>
                <div class="modal-body">
                    <table class="table data_popup_table">
                        <tr>
                            <td class="data_td_add" style="vertical-align: middle;"><label>参数名称:</label></td>
                            <td class="data_td_con">
                                <input class="form-control data_input" id="param" type="text">
                            </td>
                            <td class="data_popup_table_tag">
                                <span style="display: inline;" id="tip_param"></span>
                            </td>
                        </tr>
                        <tr name="col_info">
                            <td class="data_td_add" style="vertical-align: middle;"><label>参数类型:</label></td>
                            <td class="data_td_con">
                                <select id="param_type" class="form-control data_input">
                                    <option>unicode</option>
                                    <option>int</option>
                                </select>
                            </td>
                        </tr>
                        <tr name="col_info">
                            <td class="data_td_add" style="vertical-align: middle;"><label id="lab_min_len">最小长度:</label></td>
                            <td class="data_td_con">
                                <input name="add_value" class="form-control data_input" id="min_len" type="int">
                            </td>
                            <td class="data_popup_table_tag">
                                <span style="display: inline;" id="tip_min_len"></span>
                            </td>
                        </tr>
                        <tr name="col_info">
                            <td class="data_td_add" style="vertical-align: middle;"><label id="lab_max_len">最大长度:</label></td>
                            <td class="data_td_con">
                                <input name="add_value" class="form-control data_input" id="max_len" type="int">
                            </td>
                            <td class="data_popup_table_tag">
                                <span style="display: inline;" id="tip_max_len"></span>
                            </td>
                        </tr>
                        <tr name="tr_special_unicode">
                            <td class="data_td_add" style="vertical-align: middle;"><label>不允许字符:</label></td>
                            <td class="data_td_con">
                                <input name="add_value" class="form-control data_input" id="not_allow" type="text">
                            </td>
                        </tr>
                        <tr name="tr_special_unicode">
                            <td class="data_td_add" style="vertical-align: middle;"><label>匹配字符:</label></td>
                            <td class="data_td_con">
                                <input name="add_value" class="form-control data_input" id="match_str" type="text">
                            </td>
                        </tr>
                        <tr>
                            <td class="data_td_add"><label>参数描述:</label></td>
                            <td class="data_td_con depict">
                                <textarea class="form-control data_input" id="param_desc"></textarea>
                            </td>
                            <td class="data_popup_table_tag">
                                <span style="display: inline;" id="tip_param_desc">
                                    <p class="glyphicon glyphicon-exclamation-sign glyphicon-pink"></p>参数描述不可为空</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button"  class="btn btn-primary" id="btn_add_param" disabled>添加</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="close_popup">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ 't_js/Param_Format/param_show.js' | make_static_url }}"></script>
    {% endif %}

    <link rel="stylesheet" href="{{ 't_css/data_table.css' | make_static_url }}">
    <script type="text/javascript" src="{{ 't_js/Param_Format/param_show_Data.js' | make_static_url }}"></script>
    <script type="text/javascript" src="{{ 't_js/Param_Format/param_show_DOM.js' | make_static_url }}"></script>
    <script type="text/javascript" src="{{ 't_js/bootstrap.min.js' | make_static_url }}"></script>
{% endblock %}