{% extends "base.html" %}

{% block title %}晶云平台数据表{% endblock %}

{% block content %}

<div class="modal fade" id="update_comment" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">修改表注释</h4>
            </div>
            <form method="post">
                <div class="modal-body list-body">
                    <ul>
                        <li>
                            <label>表名:</label>
                            <input class="form-control pull-right" type="text" readonly>
                        </li>
                        <li>
                            <label>描述:</label>
                            <textarea class="form-control pull-right"></textarea>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <input type="submit"  class="btn btn-primary" value="确定">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container font16">
    <br />
    <a id="main_menu" class="btn btn-primary pull-right" href="{{ url_for('dms_view.select_portal') }}" title="返回主菜单">主菜单</a>
    <br />
    <div class="data">
        <input class="form-control" id="search_table" onkeyup="search_table();" placeholder="请按照表名进行搜索" value="{{ query_str }}" />
    </div>
    <div class="data">
    {% for table in table_list %}
        <a class="data_title" href="{{ url_prefix }}/data/table/?table={{ table["table_name"] }}" title="{{ url_prefix }}/data/table/?table={{ table["table_name"] }}">{{ table["table_name"] }}</a>
    {% endfor %}

    {% if select_table != {} %}
        <div class="clear data_table_title">
            <p>表名：{{ select_table["table_name"] }}</p>
            <p>创建时间： {{ select_table["create_time"] }}</p>
            <p>注释：{{ select_table["table_comment"] }}</p>
            <a href="javascript:void(0)" onclick="change_table_comment();" data-toggle="modal" data-target="#update_comment">修改注释</a>
        </div>
    {% endif %}
    {% if column_info != [] %}
        <table class="clear data_table" cellpadding="0" cellspacing="0">
        <tr>
            <th scope="col">列名</th>
            <th scope="col">类型</th>
            <th scope="col">主键</th>
            <th scope="col">默认值</th>
            <th scope="col">允许为空</th>
            <th scope="col">扩展</th>
            <th scope="col">注释</th>
        </tr>
        {% for item in column_info %}
        <tr>
            <td>{{ item["column_name"] }}</td>
            <td>{{ item["column_type"] }}</td>
            <td>{{ item["column_key"] }}</td>
            <td>{{ item["column_default"] }}</td>
            <td>{{ item["is_nullable"] }}</td>
            <td>{{ item["extra"] }}</td>
            <td>{{ item["column_comment"] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='t_js/data_table.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='t_js/bootstrap.min.js') }}"></script>
{% endblock %}