{% extends "base.html" %}

{% block title %}晶云平台数据表{% endblock %}

{% block content %}

<div class="modal fade" id="update_comment" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">修改表注释</h4>
            </div>
            <div class="modal-body">
                <table class="table data_popup_table">
                    <tbody><tr>

                        <td class="data_td_add" style="vertical-align: middle;"><label>表名:</label></td>
                        <td class="data_td_con">
                            <input class="form-control data_input" id="in_table_name" name="in_table_name" value="" type="text" readonly>
                        </td>
                    </tr>
                    <tr>
                        <td class="data_td_add"><label>描述:</label></td>
                        <td class="data_td_con depict">
                            <textarea class="form-control data_input" id="in_table_comment" name="in_table_comment"></textarea>
                        </td>
                        <td class="data_popup_table_tag"></td>
                    </tr>
                    <tr>
                    <td class="data_td_add" style="vertical-align: middle;"><label>SQL:</label></td>
                        <td class="data_td_con">
                            <textarea class="form-control data_input" id="out_sql" readonly></textarea>
                        </td>
                    </tr>
                </tbody></table>
            </div>
            <div class="modal-footer">
                <input type="button"  class="btn btn-primary" value="确定">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<div class="container font16">
    <br />
    <a id="main_menu" class="btn btn-primary pull-right" href="{{ url_for('dms_view.select_portal') }}" title="返回主菜单">主菜单</a>
    <br />
    <div class="data">
        <input class="form-control" id="search_table" onkeyup="search_table();" placeholder="请按照表名进行搜索" value="{{ query_str }}" />
    </div>
    <div class="data">
    {% for table in table_list %}
        <a class="data_title" href="{{ url_prefix }}/data/table/?table={{ table["table_name"] }}" title="{{ url_prefix }}/data/table/?table={{ table["table_name"] }}">{{ table["table_name"] }}</a>
    {% endfor %}

    {% if select_table != {} %}
        <div class="clear data_table_title">
            <p id="p_table_name">表名：{{ select_table["table_name"] }}</p>
            <p>创建时间： {{ select_table["create_time"] }}</p>
            <p id="p_table_comment">注释：{{ select_table["table_comment"] }}</p>
            <a href="javascript:void(0)" onclick="change_table_comment();" data-toggle="modal" data-target="#update_comment">修改注释</a>
        </div>
    {% endif %}
    {% if column_info != [] %}
        <table class="clear data_table" cellpadding="0" cellspacing="0">
        <tr>
            <th scope="col">列名</th>
            <th scope="col">类型</th>
            <th scope="col">主键</th>
            <th scope="col">默认值</th>
            <th scope="col">允许为空</th>
            <th scope="col">扩展</th>
            <th scope="col">注释</th>
        </tr>
        {% for item in column_info %}
        <tr>
            <td>{{ item["column_name"] }}</td>
            <td>{{ item["column_type"] }}</td>
            <td>{{ item["column_key"] }}</td>
            <td>{{ item["column_default"] }}</td>
            <td>{{ item["is_nullable"] }}</td>
            <td>{{ item["extra"] }}</td>
            <td>{{ item["column_comment"] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    </div>
</div>
<link rel="stylesheet" href="{{ 't_css/data_table.css' | make_static_url }}">
<script type="text/javascript" src="{{ 't_js/data_table.js' | make_static_url }}"></script>
<script type="text/javascript" src="{{ 't_js/bootstrap.min.js' | make_static_url }}"></script>
{% endblock %}