{% extends "base.html" %}

{% block title %}晶云平台遗传频道权限描述{% endblock %}
{% block content %}
    <br />
    <a class="btn btn-primary pull-right" href="{{ url_for('dms_view.select_portal') }}" title="">主菜单</a>
    <br />
    <table class="table table-bordered table-hover privilegeTable" cellspacing="0" cellpadding="0">
        <tr>
            <th scope="col" width="6%">模块</th>
            <th scope="col" width="47%">操作</th>
            <th scope="col" width="47%">拥有操作权限的角色</th>
        </tr>
        {% for item in operate_auth %}
        <tr>
            <td>{{ item["module"] }}</td>
            <td>{{ item["operate"] }}</td>
            <td>{{ item["role"] }} {{ item["description"] }}</td>
        </tr>
        {% endfor %}
    </table>
    <form method="get" action="{{ url_prefix }}/operate/auth/download">
        <button class="btn btn-success btn-down" type="submit">下载</button>
    </form>
{% endblock %}