<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>查看晶云平台运行日志</title>
<link rel="stylesheet" href="{{ url_for('static', filename='t_css/bootstrap.min.css') }}"><!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="{{ url_for('static', filename='t_css/main.css') }}"><!--自定义的页面样式 -->
</head>

<body>
<div class="container font16">
    <br />
    <a class="btn btn-primary pull-right" href="{{ url_for('dms_view.select_portal') }}" title="">主菜单</a>

    <div class="clear bottom20">
        <select class="box-side width150 margin10" id="log_level" name="log_level" onchange="update_search_url();">
            <option value="all">all</option>
            {% for item in log_level %}
                {% if item == current_level %}
                    <option value="{{ item }}" selected>{{ item }}</option>
                {% else %}
                    <option value="{{ item }}">{{ item }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <input class="box-side width300" id="url_prefix" onchange="update_search_url();" onkeyup="update_search_url();" value="{{ search_url }}"/>
        <a id="start_search"><button class="btn btn-primary" id="btn_new">搜索</button></a>
    </div>
    <div style="position: relative">
    <table class="table table-bordered table-hover api-list-table">
      <tr>
        <th scope="col" width="7%">调用时间</th>
        <th scope="col" width=30%">调用地址</th>
        <th scope="col" width=7%">调用方法</th>
        <th scope="col" width=10%">调用账户</th>
        <th scope="col" width=7%">日志级别</th>
        <th scope="col" width=8%">运行时间</th>
        <th scope="col" width=10%">访问IP</th>
      </tr>
      {% for item in log_list %}
        <tr title="{{ item["info"] }}">
            <td class="status_move">{{ item["run_begin"] | unix_timestamp }}</td>
            <td>{{ item["url"] }}</td>
            <td>{{ item["method"] }}</td>
            <td>{{ item["account"] }}</td>
            {% if item["level"] == "error" %}
                <td class="redBg">{{ item["level"] }}</td>
            {% elif item["level"] == "base_error" %}
                <td class="orgBg">{{ item["level"] }}</td>
            {% elif item["level"] == "bad_req" %}
                <td class="yellowBg">{{ item["level"] }}</td>
            {% else %}
                <td>{{ item["level"] }}</td>
            {% endif %}
            {% if item["run_time"] >= 1 %}
                <td class="redBg">{{ item["run_time"] }}</td>
            {% elif item["run_time"] >= 0.5 %}
                <td class="orgBg">{{ item["run_time"] }}</td>
            {% else %}
                <td>{{ item["run_time"] }}</td>
            {% endif %}
            <td>{{ item["ip"] | ip_str }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>

</div>

</body>
<script type="text/javascript" src="{{ url_for('static', filename='t_js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='t_js/LOG/show_log.js') }}"></script>
</html>