{% extends "base.html" %}

{% block title %}查看晶云平台运行日志{% endblock %}


{% block content %}
    <br />
    <a class="btn btn-primary pull-right" href="{{ url_for('dms_view.select_portal') }}" title="">主菜单</a>

    <div class="clear bottom20">
        <input class="box-side width150" id="start_time" onkeyup="update_search_url(0);" value="{% if "start_time" in require %}{{ require["start_time"] | unix_timestamp }} {% endif %}" placeholder="开始时间08:41:15"/>
        <input class="box-side width150" id="end_time" onkeyup="update_search_url(0);" value="{% if "end_time" in require %}{{ require["end_time"] | unix_timestamp }} {% endif %}" placeholder="结束时间8:45:15"/>
        <select class="box-side width150 margin10" id="log_level" name="log_level" onchange="update_search_url(1);">
            <option value="all">all</option>
            {% for item in log_level %}
                {% if item == current_level %}
                    <option value="{{ item }}" selected>{{ item }}</option>
                {% else %}
                    <option value="{{ item }}">{{ item }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <input class="box-side width300" id="url_prefix" onkeyup="update_search_url(0);" value="{{ search_url }}" placeholder="调用url"/>
        <input class="box-side width100" id="account" onkeyup="update_search_url(0);" value="{{ search_account }}" placeholder="调用账户"/>
        <label class="checkbox-inline" id="lab_show_before"><input type="checkbox" id="show_before" value="" onchange="update_search_url(1);" {% if look_before %} checked{% endif %} />显示Before</label>
        <a id="start_search"><button class="btn btn-primary" id="btn_new">搜索</button></a>
    </div>
    <div style="position: relative">
    <table class="table table-bordered table-hover api-list-table">
      <tr>
        <th scope="col" width="7%">调用时间</th>
        <th scope="col" width=30%">调用地址</th>
        <th scope="col" width=7%">调用方法</th>
        <th scope="col" width=10%">调用账户</th>
        <th scope="col" width=7%">日志级别</th>
        <th scope="col" width=8%">运行时间</th>
        <th scope="col" width=10%">访问IP</th>
      </tr>
      {% for item in log_list %}
        <tr title="info: {{ item["info"] }}&#10;host: {{ item["host"] }}">
            <td name="run_begin" class="status_move">{{ item["run_begin"] | unix_timestamp }}</td>
            <td>{{ item["url"] }}</td>
            <td>{{ item["method"] }}</td>
            <td>{{ item["account"] }}</td>
            {% if item["level"] == "error" %}
                <td class="redBg">{{ item["level"] }}</td>
            {% elif item["level"] == "base_error" %}
                <td class="orgBg">{{ item["level"] }}</td>
            {% elif item["level"] == "bad_req" %}
                <td class="yellowBg">{{ item["level"] }}</td>
            {% elif item["level"] == "http_error" %}
                <td class="greenBg">{{ item["level"] }}</td>
            {% else %}
                <td>{{ item["level"] }}</td>
            {% endif %}
            {% if item["run_time"] >= 1 %}
                <td class="redBg">{{ item["run_time"] }}</td>
            {% elif item["run_time"] >= 0.5 %}
                <td class="orgBg">{{ item["run_time"] }}</td>
            {% else %}
                <td>{{ item["run_time"] }}</td>
            {% endif %}
            <td name="request_ip">{{ item["ip"] }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
<script type="text/javascript" src="{{ url_for('static', filename='t_js/Common/my_ip.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='t_js/LOG/show_log.js') }}"></script>
{% endblock %}