{% extends "base_menu.html" %}

{% block title %}节点管理{% endblock %}

{% block js_content %}
    {{ 't_js/Common/JY_DIV.js' | make_static_html | safe }}
    {{ 't_js/Common/add_node.js' | make_static_html | safe }}
    {{ 't_js/Dyups/index.js' | make_static_html | safe }}
{% endblock %}

{% block center_content %}
    <button type="button" class="btn btn-primary margin20" id="btn_jy_web_upstream" value="">本地WEB</button>
    <button type="button" class="btn btn-primary margin20" id="btn_jy_api_upstream" value="">本地API</button>
    <div class="declare">
        <p class="redColor">部署节点 须知：</p>

        <p>【1】修改需谨慎。</p>

        <p>【2】请自行确保添加的节点可正常访问。</p>

        <p>【3】建议添加端口号为80的节点。</p>

        <p>【4】最好不要删除别人添加的节点。</p>

    </div>
    {% include "Dyups/web.html" %}
    {% include "Dyups/api.html" %}
{% endblock %}