<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <title>{% block title %}文档系统{% endblock %}</title>
    {{ 't_css/bootstrap.min.css' | make_static_html | safe }}
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    {{ 't_css/main.css' | make_static_html | safe }}
    <!--自定义的页面样式 -->
    {{ 't_js/jquery.min.js' | make_static_html | safe }}
    {{ 't_js/Common/my_requests.js' | make_static_html | safe }}
    <!-- Sweet Alert 弹窗 -->
    {{ 't_css/sweetalert.css' | make_static_html | safe }}
    {{ 't_js/Common/sweetalert-dev.js' | make_static_html | safe }}
</head>
<body>
<div class="container font16">
    {% if g.user_name %}
        <input id="current_user_name" value="{{ g.user_name }}" style="display: none">
    {% endif %}
    {% if g.user_role %}
        <input id="current_user_role" value="{{ g.user_role }}" style="display: none">
    {% endif %}
    {% block content %} {% endblock %}
</div>
<div style="position: fixed;bottom: 15px;left: 20px;cursor: pointer;">
    <span>Current</span>

    <p>{{ current_env }}</p>
</div>
</body>
</html>