<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>内部管理系统-信息展示页</title>
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="{{ url_for('static', filename='t_css/bootstrap.min.css') }}">
<!-- 可选的Bootstrap主题文件（一般不用引入） -->
<link rel="stylesheet" href="{{ url_for('static', filename='t_css/bootstrap-theme.min.css') }}">
<!--自定义的页面样式 -->
<link rel="stylesheet" href="{{ url_for('static', filename='t_css/main.css') }}">

<!-- jQuery文件。务必在bootstrap.min.t_js 之前引入 -->
<script type="text/javascript" src="{{ url_for('static', filename='t_js/jquery.min.js') }}"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script type="text/javascript" src="{{ url_for('static', filename='t_js/bootstrap.min.js') }}"></script>
</head>

<body>
<!-- 模态框 start-->
<!-- 市场Mode start-->
<div class="modal fade" id="marketModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">市场</h4>
      </div>
      <form action="/dms/market/", method="post">
        <div class="modal-body list-body">
          <ul>
            <li>
              <label>数据编号</label>
              <input name="data_no" id="market_data_no" type="text" class="form-control pull-right" readonly>
            </li>
            {% for info in market_attribute %}
            <li>
              <label>{{ market_attribute_ch[loop.index - 1] }}</label>
              {% if info == "person" %}
              <input name="{{ info }}" type="text" class="form-control pull-right" value="{{ user_name }}" readonly>
              {% elif info == "panel" %}
              <select name="{{ info }}" class="form-control pull-right">
                {% for item in market_target %}
                <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
              </select>
              {% elif info == "arrivetime" or info == "deadline" %}
              <input name="{{ info }}" type="date" class="form-control pull-right">
              {% else %}
              <input name="{{ info }}" type="text" class="form-control pull-right">
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">保存</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- 市场Mode end-->

<!-- 上传Mode start-->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">上传</h4>
      </div>
      <form action="/dms/upload/" method="post">
        <div class="modal-body list-body">
          <ul>
            <li>
              <label>数据编号</label>
              <input name="data_no" id="upload_data_no" type="text" class="form-control pull-right" readonly>
            </li>
            {% for info in upload_attribute %}
            <li>
              <label>{{ upload_attribute_ch[loop.index - 1] }}</label>
              <input name="{{ info }}" type="text" class="form-control pull-right">
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">保存</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- 上传Mode end-->

<!-- 计算Mode start-->
<div class="modal fade" id="countModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">计算</h4>
      </div>
      <form action="/dms/calc/" method="post">
        <div class="modal-body list-body">
          <ul>
            <li>
              <label>数据编号</label>
              <input name="data_no" id="calc_data_no" type="text" class="form-control pull-right" readonly>
            </li>
            {% for info in calc_attribute %}
            <li>
              <label>{{ calc_attribute_ch[loop.index - 1] }}</label>
              <input name="{{ info }}" type="text" class="form-control pull-right">
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">保存</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- 计算Mode end-->
<!-- 模态框 end-->

<div class="container">
  <!-- 填写信息模块 start -->
  <div class="infoShow">
    <!-- 新建start -->
    <form class="newBtn" action="/dms/data/" method="post">
      <button type="submit" class="btn btn-primary pull-right">添加数据</button>
    </form>
    <!-- 新建end -->
    {% for data in data_info  %}
    <!-- 编号start -->
    <div class="pull-left number">
      <form>
        <h4>编号</h4>
        <p>{{ data["data_no"] }}</p>
      </form>
    </div>
    <!-- 编号 end -->

    <!-- 步骤模块 start -->
    <div class="step">

      <!-- 市场 start -->
      <div class="pull-left market"> <a onclick="$('#market_data_no').val({{data["data_no"]}});" title="市场" data-toggle="modal" {% if role == "market" and data["status"] == 0 %}data-target="#marketModal"{% endif %}> <img src="/static/t_images/one_{% if data['status'] >0 %}success{% else %}gray{% endif %}.png" alt="" border="0" usemap="#Map1">
        <map name="Map1" id="Map1">
          <area shape="circle" coords="78,24,21" href="javascript:void(0);" />
        </map>
        </a>
        <p>市场</p>
      </div>
      <!-- 市场 end -->

      <!-- 上传 start -->
      <div class="pull-left upload"> <a onclick="$('#upload_data_no').val({{data["data_no"]}});" title="上传" data-toggle="modal" {% if data['status'] == 1 and role == "upload" %}data-target="#uploadModal"{% endif %}> <img src="/static/t_images/two_{% if data['status'] >1 %}success{% else %}gray{% endif %}.png" alt="" border="0" usemap="#Map2" >
        <map name="Map2" id="Map2">
          <area shape="circle" coords="78,24,21" href="javascript:void(0);" />
        </map>
        </a>
        <p>上传</p>
      </div>
      <!-- 上传 end -->

      <!-- 计算 start -->
      <div class="pull-left count"> <a onclick="$('#calc_data_no').val({{data["data_no"]}});" title="计算" data-toggle="modal" {% if data['status'] ==2  and role == "calc" %}data-target="#countModal"{% endif %}> <img src="/static/t_images/end_{% if data['status'] >2 %}success{% else %}gray{% endif %}.png" alt="" border="0" usemap="#Map3" >
        <map name="Map3" id="Map3">
          <area shape="circle" coords="78,24,21" href="javascript:void(0);" />
        </map>
        </a>
        <p>计算</p>
      </div>
      <!-- 计算 end -->
      <div class="clear"></div>
    </div>
    {% endfor %}
    <!-- 步骤模块 end -->

  </div>
  <!-- 填写信息模块 end -->
</div>
</body>
</html>