{% extends "base.html" %}

{% block title %}内部管理系统-首页{% endblock %}

{% block content %}
<div class="container">
  <div class="loginMode">
    <form class="form-signin" action="{{ url_prefix }}/login/" method="post">
      <h4 class="form-signin-heading">请先填写登陆信息</h4>
      <label for="inputUser" class="sr-only">User Name</label>
      <input type="text" id="inputUser" name="user_name" class="form-control" placeholder="用户名/手机号" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" name="password" class="form-control" placeholder="密码" required>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="remember">
          Remember me </label>
      </div>
      <input name="next" value="{{ next_url }}" style="display:none;"/>
      <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
    </form>
  </div>
</div>
{% endblock %}