{% extends "base.html" %}

{% block title %}内部管理系统-更改密码{% endblock %}

{% block content %}

<div class="container">
  <div class="loginMode">
    <form class="form-signin" action="{{ url_prefix }}/password/" method="post">
      {% if change_token %}
          <h4 class="form-signin-heading">您的密码为原始密码，必须更改</h4>
          <input type="text" name="user_name" class="form-control" value="{{ user_name }}" required disabled>
          <input name="change_token" class="form-control" value="{{ change_token }}" style="display: none">
      {% else %}
          <h4 class="form-signin-heading">更改密码</h4>
          <input type="text" name="user_name" class="form-control" value="{{ user_name }}" required disabled>
          <input type="password" name="old_password" class="form-control" placeholder="原密码" required>
      {% endif %}

      <input type="text" name="user_name" class="form-control" value="{{ user_name }}" style="display: none">
      <input type="password" name="new_password" class="form-control" placeholder="新密码" required>
      <input type="password" name="confirm_password" class="form-control" placeholder="确认密码" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">更改</button>
    </form>

  </div>
<script type="text/javascript" src="{{ url_for('static', filename='t_js/bootstrap.min.js') }}"></script>
</div>
{% endblock %}