<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>内部管理系统-更改密码</title>
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="{{ url_for('static', filename='t_css/bootstrap.min.css') }}">
<!-- 可选的Bootstrap主题文件（一般不用引入） -->
<link rel="stylesheet" href="{{ url_for('static', filename='t_css/bootstrap-theme.min.css') }}">
<!--自定义的页面样式 -->
<link rel="stylesheet" href="{{ url_for('static', filename='t_css/main.css') }}">

<!-- jQuery文件。务必在bootstrap.min.t_js 之前引入 -->
<script type="text/javascript" src="{{ url_for('static', filename='t_js/jquery.min.js') }}"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script type="text/javascript" src="{{ url_for('static', filename='t_js/bootstrap.min.js') }}"></script>
</head>

<body>
<div class="container">
  <div class="loginMode">
    <form class="form-signin" action="/dms/password/" method="post">
      {% if change_token %}
          <h4 class="form-signin-heading">您的密码为原始密码，必须更改</h4>
          <input type="text" name="user_name" class="form-control" value="{{ user_name }}" required disabled>
          <input name="change_token" class="form-control" value="{{ change_token }}" style="display: none">
      {% else %}
          <h4 class="form-signin-heading">更改密码</h4>
          <input type="text" name="user_name" class="form-control" value="{{ user_name }}" required disabled>
          <input type="password" name="old_password" class="form-control" placeholder="Old Password" required>
      {% endif %}

      <input type="text" name="user_name" class="form-control" value="{{ user_name }}" style="display: none">
      <input type="password" name="new_password" class="form-control" placeholder="New Password" required>
      <input type="password" name="confirm_password" class="form-control" placeholder="Confirm Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">更改</button>
    </form>

  </div>
</div>
</body>
</html>