{% if resources_m %}
    {% for resource_name, resource_item in resources_m.objects.items() %}
        <div class="checkbox font16">
            {% for module_item in resource_item.get_modules_desc() %}
                <span class="text-right">{{ module_item["desc"] }}权限：</span>
                <label><input type="checkbox" name="{{ resource_name }}.basic">准入</label>
                {% for key, value in module_item["policies"].items() %}
                    <label><input type="checkbox" name="{{ resource_name }}.{{ key }}">{{ value["desc"] }}</label>
                {% endfor %}
                <label><input type="checkbox" name="{{ resource_name }}.manager">管理员</label>
            {% endfor %}
        </div>
    {% endfor %}
{% endif %}