{% extends "base.html" %}

{% block title %}选择功能模块{% endblock %}

{% block content %}
<div class="apiMode api-help-mode" id="div_main_menu">
    <label style="display: none" id="role_value">{{ role_value | tojson | safe }}</label>
    <input id="api_url_prefix" value="{{ api_url_prefix }}" style="display: none">
    <input id="status_url_prefix" value="{{ status_url_prefix }}" style="display: none">
    <input id="table_url_prefix" value="{{ dev_url_prefix }}/data/table" style="display: none">
    <input id="right_url_prefix" value="{{ right_url_prefix }}" style="display: none">
    <input id="param_url_prefix" value="{{ param_url_prefix }}" style="display: none">
    <input id="log_url_prefix" value="{{ log_url_prefix }}" style="display: none">
    <input id="release_ih_url_prefix" value="{{ release_url_prefix }}" style="display: none">
    <input id="release_ytj_url_prefix" value="{{ release_url_prefix }}" style="display: none">
    <input id="bug_url_prefix" value="{{ bug_url_prefix }}" style="display: none">
    <input id="jd_url_prefix" value="{{ jd_url_prefix }}" style="display: none">
    <input id="register_url_prefix" value="{{ dms_url_prefix }}/register" style="display: none">
    <input id="authorize_url_prefix" value="{{ dms_url_prefix }}/authorize" style="display: none">
    <input id="password_url_prefix" value="{{ dms_url_prefix }}/password" style="display: none">
    <input id="exit_url_prefix" value="{{ dms_url_prefix }}/login" style="display: none">
    <input id="dyups_url_prefix" value="{{ dyups_url_prefix }}" style="display: none">
    {% for menu_item in menu %}
     <a href="{{ menu_item['url'] }}">{{ menu_item['desc'] }}</a>
    {% endfor %}
</div>
{{ 't_js/portal.js' | make_static_html | safe }}
{% endblock %}
