<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>晶云平台BUG列表</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='t_css/bootstrap.min.css') }}"><!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='t_css/main.css') }}"><!--自定义的页面样式 -->
</head>
<body>
{#BUG列表#}
{% if bug_list %}
    <table  class="table table-bordered table-hover api-list-table">
        <caption>BUG列表</caption>
        <tr>
            <th scope="col" width="32%">BUG标题</th>
            <th scope="col" width="15%">BUG状态</th>
            <th scope="col" width="8%">BUG提交者</th>
            <th scope="col" width="8%">BUG提交时间</th>
            <th class="text-center" scope="col" width="5%">操作</th>
        </tr>
        {% for item in bug_list %}
        <tr>
            <td>{{ item["bug_title"] }}</td>
            <td>{{ bug_status_desc[item["bug_status"]] }}</td>
            <td>{{ item["submitter"] }}</td>
            <td>{{ item["submit_time"] }}</td>
            <td class="text-center"><a href="/dev/bug/info/?bug_no={{ item["bug_no"] }}">查看</a></td>
        </tr>
        {% endfor %}
    </table>
{% endif %}
{# 新建BUG #}
{% if user_role | bit_and(role_value["bug_new"]) == role_value["bug_new"]  %}
<form action="/dev/bug/new/" method="post">
    <input name="bug_title">
    <button type="submit">新建BUG</button>
</form>
{% endif %}
</body>
</html>