{% extends "base_menu.html" %}

{% block title %}晶云平台BUG列表{% endblock %}

{% block js_content %}
    {{ 't_js/Common/JY_DIV.js' | make_static_html | safe }}
    {{ 't_js/Common/add_node.js' | make_static_html | safe }}
    {{ 't_js/BUG/show_bug.js' | make_static_html | safe }}
{% endblock %}

{% block center_content %}
    <div class="declare">
        <p class="redColor">使用 问题总结系统 须知：</p>

        <p>【1】问题总结系统只显示 <label class="redColor">待解决的问题</label> 和属于 <label class="redColor">自己的问题</label>。</p>

    </div>
    <button type="button" class="btn btn-primary margin20" id="btn_jy_wait_solve" >待解决问题</button>
    <button type="button" class="btn btn-primary margin20" id="btn_jy_mine" >我的问题</button>
    {% include "BUG/Wait_Solve.html" %}
    {% include "BUG/my_problem.html" %}
    {% if user_role | bit_and(role_desc["bug_new"]) == role_desc["bug_new"]  %}
        <form action="{{ url_prefix }}/new/" method="post">
            <input class="form-control pull-left bug-input" name="bug_title" >
            <select name="bug_level" class="box-side" id="select_bug_level">
            </select>
            <button class="btn btn-primary" type="submit">提交问题</button>
        </form>
    {% endif %}
    <input id="bug_statistic_url" value="{{ url_prefix }}/statistic/" style="display: none"/>
    <table>
        <tr>
            <td >
                <div id="bar_month"></div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="bar_all"></div>
            </td>
        </tr>
    </table>
    <input id="my_bug_url" value="{{ my_bug_url }}" class="display_none">
    <input id="info_url" value="{{ info_url }}" class="display_none">
    <label id="bug_status_desc" class="display_none">{{ bug_status_desc | tojson | safe }}</label>
    <label id="bug_level_desc" class="display_none">{{ bug_level_desc | tojson | safe }}</label>
{% endblock %}