{% if role_desc %}
    {% for key, moudle_item in role_desc.items() %}
        <div class="checkbox font16">
            <span class="text-right">{{ moudle_item["module_desc"] }}权限：</span>
            {% for key, value in moudle_item["role_list"].items() %}
                <label><input type="checkbox" id="{{ key }}" {% if g.user_role | bit_and(value["role_value"]) <= 0 %}disabled{% else %}name="{{ key }}"  {% end %}>{{ value["role_desc"] }}</label>
            {% end %}
        </div>
    {% end %}
{% end %}