{% extends "base.html" %}

{% block title %}增加状态码模块{% endblock %}

{% block content %}
    <a class="btn btn-primary pull-right margin20" href="{{ return_url }}/" >查看状态码</a>
    <button type="button" class="btn btn-primary margin20" id="btn_jy_module" value="新建模块" >新建模块</button>
    <button type="button" class="btn btn-primary margin20" id="btn_jy_sub" value="新建子模块" >新建子模块</button>
    <button type="button" class="btn btn-primary margin20" id="btn_jy_error" value="新建错误类型" >新建错误类型</button>
    <div class="div_jy_module" style="display: none;">
        <table class="table table-bordered table-hover api-list-table" id="tb_main_module">
          <tr>
            <th scope="col" width="8%">模块编码</th>
            <th scope="col" width=20%">模块标题</th>
            <th scope="col" width=50%">模块解释</th>
            <th scope="col" width=6%">操作</th>
          </tr>
        </table>
          <p class="bottom10">
            <input class="form-control pull-left width150 margin10" id="module_title" placeholder="模块标题" required>
            <input class="form-control pull-left width366 margin10" id="module_desc" placeholder="模块解释"  required>
            <button class="btn btn-primary pull-left" id="new_module">新建</button>
            <span class="clear block"></span>
          </p>
        </div>

    <div class="div_jy_sub" style="display: none;">
       <select class="box-side width150 pull-left margin20" id="service_id" name="service_id" onchange="set_fun_id();"></select>
       <table class="table table-bordered table-hover api-list-table" id="tb_sub_module">
          <tr>
            <th scope="col" width="8%">子模块编码</th>
            <th scope="col" width=20%">子模块标题</th>
            <th scope="col" width=50%">子模块解释</th>
            <th scope="col" width=6%">操作</th>
          </tr>
        </table>
          <p class="bottom10">
            <input class="form-control pull-left width150 margin10" id="sub_module_title" placeholder="子模块标题" required>
            <input class="form-control pull-left width366 margin10" id="sub_module_desc" placeholder="子模块解释" required>
            <button class="btn btn-primary pull-left" id="new_sub_module">新建</button>
            <span class="clear block"></span>
          </p>
    </div>

    <div class="div_jy_error" style="display: none;">
       <table class="table table-bordered table-hover api-list-table" id="tb_error_type">
          <tr>
            <th scope="col" width="7%">编码</th>
            <th scope="col" width=15%">错误标题</th>
            <th scope="col" width=78%">错误解释</th>
          </tr>
        </table>
          <p class="bottom10">
            <input class="form-control pull-left width100 margin10" id="error_no" placeholder="功能暂时无法使用" required>
            <input class="form-control pull-left width150 margin10" id="error_title" placeholder="功能暂时无法使用" required>
            <input class="form-control pull-left width366 margin10" id="error_desc" placeholder="功能暂时无法使用" required>
            <button class="btn btn-primary pull-left" id="btn_error_new" disabled>新建</button>
            <span class="clear block"></span>
          </p>
    </div>

    <input id="fun_info_url" value="{{ fun_info_url }}" style="display: none">
    <input id="error_type_url" value="{{ error_type_url }}" style="display: none">
    <script type="text/javascript" src="{{ 't_js/API_Status/status_module_new.js' | make_static_url }}"></script>
    <script type="text/javascript" src="{{ 't_js/Common/JY_DIV.js' | make_static_url }}"></script>
{% endblock %}