{% extends "base.html" %}

{% block title %}API返回状态码{% endblock %}

{% block js_content %}
    {{ 't_js/Common/my_requests.js' | make_static_html | safe }}
    {{ 't_js/Common/add_node.js' | make_static_html | safe }}
    {{ 't_js/Common/split_page.js' | make_static_html | safe }}
    {{ 't_js/API_Status/status_api.js' | make_static_html | safe }}
{% endblock %}

{% block content %}
    <a class="btn btn-primary pull-right margin20" href="{{ return_url }}" title="">返回API解释</a>
    <div class="clear bottom20">
        <input class="form-control" id="search_code" onkeyup="search_code();" placeholder="搜索状态码"
               value="{{ search_status }}"/>
    </div>
    <div style="position: relative" id="div_list">
        <table class="table table-bordered table-hover api-list-table">
            <tr>
                <th scope="col" width="10%">状态码</th>
                <th scope="col" width="20%">模块</th>
                <th scope="col" width="60%">解释</th>
                {% if del_power %}
                    <th scope="col" width=5%">操作</th>
                {% endif %}
            </tr>
            <template v-for="item in page_status">
            <tr :id="'s_' + item.status_code">
                <td class="status_move" name="status_code" @click="copy_code(item.status_code)">
                    <span>{{item["code_1"]}}</span>
                    <span>{{item["code_2"]}}</span>
                    <span>{{item["code_3"]}}</span>
                    <span>{{item["code_4"]}}</span>
                </td>
                <td>{{module_info[item["code_1"]]["title"]}}-{{module_info[item["code_1"]]["fun_info"][item["code_2"]].title}}</td>
                <td>{{item["code_desc"]}}</td>
                {% if del_power %}
                    <td>
                        <a class="status_move" @click="delete_code(item.status_code)">删除</a>
                    </td>
                {% endif %}
            </tr>
            </template>
        </table>
        <div class="status_out" id="status_code_info">ni</div>
        <ul class="pagination" id="pagination">
            <template v-for="page_num in show_page">
                <li v-if="page_num == current_page" class="active"><a href="javascript:void(0)">{{page_num}}</a></li>
                <li v-else><a href="javascript:void(0)" @click="update_current_page(page_num)">{{page_num}}</a></li>
            </template>
        </ul>
    </div>
    {% if new_power %}
        <button type="button" class="btn btn-primary margin20" id="conBtn">单个新建</button>
        <div class="newMode" style="display: none;" id="div_new_one">
            <p class="bottom10">
                <select class="box-side width150 pull-left margin10" v-model="select_module" @change="change_module">
                    <option v-for="value, key in module_info" :value="key" :title="value.title">{{value.title}}</option>
                </select>
                <select class="box-side width150 pull-left margin10" v-model="select_fun" @change="change_fun">
                    <option v-for="value, key in fun_info" :value="key">{{value.title}}</option>
                </select>
                <select class="box-side width150 pull-left margin10" v-model="select_type" @change="change_type">
                    <option v-for="value, key in error_type" :value="key">{{value.type_title}}</option>
                </select>
                <input class="form-control pull-left width100 margin10" v-model="status_end_code" required>
                <input class="form-control pull-left width366 margin10" v-model="status_code_desc" required>
                <span class="clear block"></span>
            </p>
            <p>
                <span class="font-red">{{add_desc["module_title"]}}</span>
                :
                <span>{{add_desc["module_desc"]}}</span>
            </p>

            <p>
                <span class="font-red">{{add_desc["fun_title"]}}</span>
                :
                <span>{{add_desc["fun_desc"]}}</span>
            </p>
            <p>
                <span class="font-red">{{add_desc["type_title"]}}</span>
                :
                <span>{{add_desc["type_desc"]}}</span>
            </p>
            <p>
                <span>末位</span>
                :
                <span class="font-red" v-if="status_end_code.length!=0">{{status_end_code}}</span>
                <span class="font-red" v-else>请填写</span>
                <a class="status_move left5">推荐一个</a>
            </p>
            <p>
                <span>状态描述</span>
                :
                <span class="font-red" v-if="status_code_desc.length!=0">{{status_code_desc}}</span>
                <span class="font-red" v-else>请填写</span>
            </p>
            <p>
                <span>最终状态码为</span>
                :
                <span class="font-red">{{add_desc["show_code"]}}</span>
            </p>
            <p>
                <span class="top6 left5">
                    <button class="btn btn-primary margin10" @click="add_action">新建</button>
                    <label class="checkbox-inline">
                        <input type="checkbox" v-model="filter_similar_code"/>
                        显示已有状态码
                    </label>
                </span>
            </p>
            {% if new_module_power %}
                <p class="margintop30">
                    <a href="module/">添加状态码模块</a>
                </p>
            {% endif %}
        </div>
        <a href="mul/">
            <button type="button" class="btn btn-primary margin20" id="mul_new_btn">批量新建</button>
        </a>
    {% endif %}
    <input id="fun_info_url" value="{{ fun_info_url }}" style="display: none">
    <input id="error_type_url" value="{{ error_type_url }}" style="display: none">
    <input id="url_code" value="{{ url_code }}" class="display_none">
{% endblock %}