
.axis path,
.axis line{
    fill: none;
    stroke: black;
    width: 6px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 16px;
}

.Xaxis text {
    /*倾斜*/
    transform:rotate(30deg);
    -ms-transform:rotate(30deg); /* Internet Explorer */
    -moz-transform:rotate(30deg); /* Firefox */
    -webkit-transform:rotate(30deg); /* Safari 和 Chrome */
    -o-transform:rotate(30deg); /* Opera */
}
