{% extends "base_menu.html" %}

{% block title %}晶云平台遗传频道权限描述{% endblock %}

{% block center_content %}
    <div class="clear">
        <div class="api-help-mode pull-left privilegeMenu">
            {% for module_info in module_list %}
                <li>
                    <a href="{{ url_prefix }}/?module_no={{ module_info["module_no"] }}">{{ module_info["module_title"] }}</a>
                </li>
            {% endfor %}
        </div>

        <div class="pull-left privilegeCon">
            {% if module_role_info %}
                <div class="permission">
                    <p>
                        <span>权限值：</span>
                        <span>解释</span>
                    </p>
                    {% for item in module_role_info %}
                        <p>
                            <span>{{ item["module_role"] }}：</span>
                            <span>{{ item["role_desc"] }}</span>
                        </p>
                    {% endfor %}
                </div>
            {% endif %}
            {% if action_list %}
                <table class="table table-bordered table-hover privilegeTable" cellspacing="0" cellpadding="0">
                    <tr>
                        <th scope="col" width="60%">操作</th>
                        <th scope="col" width="32%">最低权限</th>
                        {% if new_right %}
                            <th scope="col" width="8%">操作</th>
                        {% endif %}
                    </tr>
                    {% for item in action_list %}
                        <tr>
                            <td>{{ item["action_desc"] }}</td>
                            <td>
                                {% if item["min_role"] in module_role_dict %}
                                {{ item["min_role"] }}{{ module_role_dict[item["min_role"]]["role_desc"] }}
                                {% else %}
                                {{ item["min_role"] }}
                                {% endif %}
                            </td>
                            {% if new_right %}
                                {% if user_name == item["adder"] %}
                                    <td><a href="{{ url_prefix }}/action/delete/{{ item["action_no"] }}/">删除</a></td>
                                {% else %}
                                    <td><a>删除{{ user_name }}</a></td>
                                {% endif %}
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
            {% if new_right %}
                <form role="form" action="{{ url_prefix }}/" method="post">
                    <div class="form-group apiContentLine">
                        <ul>
                            <li>
                                <label for="">最低访问权限：</label>
                                <select class="box-side width420" name="min_role">
                                    {% for item in module_role_info %}
                                        <option value="{{ item["module_role"] }}">{{ item["module_role"] }} {{ item["role_desc"] }}</option>
                                    {% endfor %}
                                </select>
                            </li>
                            <li>
                                <label class="api-describe" for="">行为描述：</label>
                                <textarea class="box-side" rows="3" name="action_desc" required></textarea>
                            </li>
                        </ul>
                    </div>
                    <input name="module_no" value="" style="display: none">
                    <button type="submit" class="btn btn-success btn-down api-newBtn">新建</button>
                </form>
            {% endif %}
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}