@charset "utf-8";
/* CSS Document */
body{font-family:"Microsoft Yahei","微软雅黑","宋体",Arial, Helvetica, sans-serif;}
ul,ol{list-style: none;margin: 0;padding: 0;}
.clear{clear:both;}
.loginMode{margin-top: 100px;}
.step a,.market a{display: block;}

.newBtn{display: block;height:54px;padding-bottom: 20px;}
.infoShow{width: 570px;margin:50px auto 0;}
/*登陆页 start*/
.form-signin {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}
.form-signin .form-signin-heading, .form-signin .checkbox {margin-bottom: 10px;}
.form-signin .checkbox {font-weight: normal;}
.form-signin .form-control {
    box-sizing: border-box;
    font-size: 16px;
    height: auto;
    padding: 10px;
    position: relative;
    margin:15px 0;
}
.form-signin .form-control:focus {z-index: 2;}
/*登陆页 end*/

/*填写信息模块 start*/
.step{min-width: 470px;padding-left: 100px;padding-bottom:20px;}
.step p{width: 154px;text-align: center;}
.list-body {padding: 15px 50px;}
.list-body ul li{clear: both;padding:8px 0;}
.list-body ul li label{width: 150px;text-align: right;line-height: 34px;margin: 0;font-weight: normal;}
.list-body ul li input,.panelInput{width:68%;}
/*编号start*/
.number{width: 100px;background: #eae8e6;border-top: 5px solid #ff991d;text-align:center;}
/*填写信息模块 end*/

/*信息展示模块 start*/
.infoShowMode{margin-top: 20px;margin-bottom: 50px;}
/*信息展示模块 end*/

/*系统备注及说明模块 start*/
.declare{padding-top: 20px;padding-bottom:10px;border-bottom: 2px dotted #999;}
.redColor{color: #f23156;font-size: 16px;}
/*系统备注及说明模块 end*/
.toolTip{line-height: 30px;padding-bottom: 5px;}
/*晶云平台数据表页的样式美化*/
.data{padding:10px 30px;}
.data_title{padding-right: 30px;color: #333;text-decoration: none;line-height: 40px;}
.data_title:hover{color: #cb1010;}
.data_table_title{line-height:30px;padding-top:50px;padding-bottom:10px;color: #666;}
.data_table_title p{margin: 0;}
.data_table{border-left: 1px solid #ccc;border-bottom: 1px solid #ccc;}
.data_table th,.data_table td{line-height: 40px;border-top:  1px solid #ccc;border-right: 1px solid #ccc;padding:0 10px;}
/*晶云平台遗传频道权限描述*/
.privilegeTable{margin:20px;border-top:1px solid #999;border-left: 1px solid #999;border-bottom: none;border-right: none;width: 98%;}
.privilegeTable th,.privilegeTable td{padding: 0 8px 0 !important;line-height:44px !important;}
.privilegeTable td{color: #080808;}
.btn-down{margin-left: 20px;margin-bottom: 20px;padding:8px 40px;}