@charset "utf-8";
/* CSS Document */
body{font-family:"Microsoft Yahei","微软雅黑","宋体",Arial, Helvetica, sans-serif;}
ul,ol{list-style: none;margin: 0;padding: 0;}
.clear{clear:both;}
.left{float: left;}
.loginMode{margin-top: 100px;}
.step a,.market a{display: block;}
.font16{font-size: 16px;}
.bottom10{margin-bottom: 10px;}
.bottom20{margin-bottom: 20px;}
.margin10{margin-right: 10px}
.margin20{margin: 20px 0;}
.newBtn{display: block;height:54px;padding-bottom: 20px;}
.infoShow{width: 570px;margin:50px auto 0;}
.font-red{color: #e53b0d;}
.bugUpload span,.apiTest span{line-height: 34px;}
.width100{width: 100px;}
.width485{width: 485px;}
.block{display: block;}
/*登陆页 start*/
.form-signin {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}
.form-signin .form-signin-heading, .form-signin .checkbox {margin-bottom: 10px;}
.form-signin .checkbox {font-weight: normal;}
.form-signin .form-control {
    box-sizing: border-box;
    font-size: 16px;
    height: auto;
    padding: 10px;
    position: relative;
    margin:15px 0;
}
.form-signin .form-control:focus {z-index: 2;}
/*登陆页 end*/
/*填写信息模块 start*/
.step{min-width: 470px;padding-left: 100px;padding-bottom:20px;}
.step p{width: 154px;text-align: center;}
.list-body {padding: 15px 50px;}
.list-body ul li{clear: both;padding:8px 0;}
.list-body ul li label{width: 150px;text-align: right;line-height: 34px;margin: 0;font-weight: normal;}
.list-body ul li input,.panelInput{width:68%;}
/*编号start*/
.number{width: 100px;background: #eae8e6;border-top: 5px solid #ff991d;text-align:center;}
/*填写信息模块 end*/
/*信息展示模块 start*/
.infoShowMode{margin-top: 20px;margin-bottom: 50px;}
/*信息展示模块 end*/

/*系统备注及说明模块 start*/
.declare{padding-top: 20px;padding-bottom:10px;border-bottom: 2px dotted #999;}
.redColor{color: #f23156;font-size: 16px;}
/*系统备注及说明模块 end*/
.toolTip{line-height: 30px;padding-bottom: 5px;}
/*晶云平台数据表页的样式美化*/
.data{padding:10px 30px;}
.data_title{padding-right: 30px;color: #333;text-decoration: none;line-height: 40px;}
.data_title:hover{color: #cb1010;}
.data_table_title{line-height:30px;padding-top:50px;padding-bottom:10px;color: #666;}
.data_table_title p{margin: 0;}
.data_table{border-left: 1px solid #ccc;border-bottom: 1px solid #ccc;}
.data_table th,.data_table td{line-height: 40px;border-top:  1px solid #ccc;border-right: 1px solid #ccc;padding:0 10px;}
/*晶云平台遗传频道权限描述*/
.privilegeTable{margin:20px;border-top:1px solid #999;border-left: 1px solid #999;border-bottom: none;border-right: none;width: 98%;}
.privilegeTable th,.privilegeTable td{padding: 0 8px 0 !important;line-height:44px !important;}
.privilegeTable td{color: #080808;}
.btn-down{margin-left: 20px;margin-bottom: 20px;padding:8px 40px;}
/*添加API页面*/
.apiMode{padding: 30px 0;}
.apiMode label{width:200px;text-align: right;font-weight: normal;}
.box-side{border: 1px solid #ccc;border-radius: 4px;box-shadow: 5px;padding: 5px 0;}
.apiContentLine p{margin-bottom: 0;}
.apiContentLine ul li{line-height:30px;padding: 5px 0;}
.apiContentLine input{padding: 0;}
.apiContentLine textarea{resize:none;width: 500px;height: 200px;}
.select-mode{padding-left:200px;}
.select-mode label{width:auto;text-align: left;}
.api-describe{vertical-align: top;}
.api-newBtn{margin-left: 202px;}
.width300{width: 300px;}
/*API帮助文档*/
.api-help-mode a{padding-right:20px;color: #000;}
.api-list-table caption{color: #000;font-weight: bold;}
.api-list-table th, .api-list-table td{word-break:break-all;word-wrap:break-word;}
.api-example textarea{resize:none;width:100%;height:300px !important;background: none !important;}
.care span{padding-right: 20px;}
/*晶云平台BUG列表*/
.bug-input{width: 560px;margin-right: 10px;}
.bugInfoShow{padding-top: 20px;}
.bugUpload form{clear: both;padding: 10px 0;}
.bugUploadBtn{width:200px;}
.bugUpload input[type="file"] {cursor: pointer;margin: 2px 10px 0 -200px;opacity:0;width:200px;}
.bugTextMode{border-bottom: 1px dashed #ccc;padding-bottom:20px !important;margin-bottom:30px;}
.bugTextMode textarea{resize:none;}
.bugInfoDepict{padding: 30px 0 50px;border-bottom: 1px dashed #ccc;}
.bugUpload{padding-top:15px;}
.checkbox{margin: 15px 0 20px;}
.checkbox span{width:180px;display: inline-block;}
.amendPrivilege{width:600px;margin: 0px auto;}
.amendBtn{width: 230px;display: block;margin: 0 auto;}
.bugAuthor{width:80px;display: inline-block;padding: 0 5px;}
.hand{font-size: 12px;padding-top:4px;font-weight: normal;}
.handCurrent{cursor: pointer;}
.gray{background: #fd5b78;color: #fff;}
.orange{background: #e24414;color: #fff;}
.opacity{opacity: 0;}

.redBg{background:#e40203;}
.orgBg{background:#ff8b00;}
.yellowBg{background:#feed01;}

.greenBg{background:#007f28;}
.blueBg{background:#004dff;}
.purpleBg{background:#750686;}
/*测试API页面*/
.apiTest span{background: #ececec;display: block;padding: 0 5px;}
.width150{width:150px;}
.star{color: #dd1717;font-size: 20px;padding-top: 5px;padding-right: 5px;}
.paramListMode{padding-bottom: 50px;}
.paramListMode ul li{float: left;line-height: 34px;}
.paramListMode label{font-weight: normal;padding-right:10px;}