{% extends "base_menu.html" %}

{% block title %}绩效管理{% endblock %}

{% block css_content %}
    {{ 't_css/tabControls.css' | make_static_html | safe }}
{% endblock %}

{% block js_content %}
    {{ 't_js/bootstrap.min.js' | make_static_html | safe }}
    {{ 't_js/Common/add_node.js' | make_static_html | safe }}
    {{ 't_js/Common/datetime_tools.js' | make_static_html | safe }}
    {{ 't_js/Common/url_tool.js' | make_static_html | safe }}
    {{ 't_js/Performance/list.js' | make_static_html | safe }}
    {{ 't_js/Performance/add.js' | make_static_html | safe }}
{% endblock %}

{% block center_content %}
    <div id="div_content">
        <ul id="ul_menu" class="nav nav-tabs comTab">
            <li class="active"><a href="#div_overview" data-toggle="tab">绩效总揽</a></li>
            <li><a href="#div_mine" data-toggle="tab">我的绩效</a></li>
            <li><a href="#div_add" data-toggle="tab">录入绩效</a></li>
        </ul>
        <div id="myTabContent" class="tab-content" style="padding-top: 20px;">
            <div class="tab-pane fade in active" id="div_overview">
                {% include "Performance/overview.html" %}
            </div>
            <div class="tab-pane fade in" id="div_mine">
                {% include "Performance/mine.html" %}
            </div>
            <div class="tab-pane fade" id="div_add">
                {% include "Performance/add.html" %}
            </div>
        </div>
    </div>
    <input id="module_url" value="{{ module_url }}" class="display_none">
    <input id="query_url" value="{{ query_url }}" class="display_none">
    <input id="list_user_url" value="{{ list_user_url }}" class="display_none">
{% endblock %}