<div>
    <div style="position: relative">
        <table class="table table-bordered table-hover api-list-table" id="t_mine">
            <tr>
                <th scope="col" width="10%">月份</th>
                <th scope="col" width="10%">分类</th>
                <th scope="col" width="15%">名称</th>
                <th scope="col" width=20%">开始时间</th>
                <th scope="col" width=10%">结束时间</th>
                <th scope="col" width=20%">得分</th>
                <th scope="col" width=15%">详情</th>
            </tr>
        </table>
    </div>
</div>
