<div>
    <div style="position: relative">
        <input class="display_none" id="export_url" value="{{ export_url }}" />
        <a class="status_move" id="link_export">Export</a>
        <table class="table table-bordered table-hover api-list-table" id="t_mine">
            <tr>
                <th scope="col" width="8%">月份</th>
                <th scope="col" width="10%">分类</th>
                <th scope="col" width="20%">名称</th>
                <th scope="col" width=9%">开始时间</th>
                <th scope="col" width=9%">结束时间</th>
                <th scope="col" width=14%">参与者</th>
                <th scope="col" width=5%">得分</th>
                <th scope="col" width=25%">详情</th>
            </tr>
        </table>
    </div>
</div>
