@charset "utf-8";
/* CSS Document */

.calcContent{padding: 30px 0;font-size: medium;font-family:"Microsoft Yahei","微软雅黑","宋体",Arial, Helvetica, sans-serif; }
.mTop{margin-top: 18px;}
.clear{clear: both;}

.calcBox ul{list-style: none;padding: 20px 0;}
.calcBox li{clear: both;line-height: 36px;padding: 10px 0;}
.calcBox li span{width: 30%; text-align: right;display:block;float: left;}
.calcBox li input{width: 70%;border-radius: 5px;border: 1px solid #ccc;padding: 0 10px;}
.calcBox li strong{width: 70%;padding: 0 10px;}
.btnGroup{width: 370px;margin: 0 auto;}
.btnGroup button{padding: 8px 40px;margin:0 5px;}

.septalLine{border-top:1px dotted #ccc;margin-top: 20px;padding-left: 10%!important;}
