
.modal-header{  border-radius:4px 4px 0 0; background-color: #dadada;}
.modal-title {
	font-size: 14px !important;
}

.data_td_add{
    border:0px solid red!important;
    margin:0;
    text-align:right;
    padding-right: 0 !important;
    width: 15%;
}
.data_td label{
    vertical-align: middle;
    width:75px;
    text-align:right !important;
    font-weight: normal;
    display: block;margin-bottom: 0;line-height: 38px;
}
.data_td_con{
    border:0px solid blue!important;
    text-align:left!important;
    width: 55%;
}


.data_popup_table_tag{
    height:35px;
    line-height:34px !important;
    padding: 5px!important;
    padding-left: 10px!important;
    margin:0!important;
    font-size: 12px;
    border:0px solid #40ba11 !important;
    text-align:left!important;
}


.data_popup_table{margin-top: 4px;margin-bottom: 0;}
.data_popup_table tr{clear: both;}
.data_popup_table tr td{padding-right: 0 !important;}
.data_popup_table label{font-weight: normal;padding-top: 6px;}
.depict{padding-top: 13px !important;}
.depict textarea{
    max-height: 240px;
    min-height: 120px !important;
    height: auto;
    width: 340px !important;
}
.data_input{width:96%;}

.glyphicon-pink {
	color: #fc7675;
}