<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width,user-scalable=no" name="viewport">
<title>猝死风险预测方程-计算器</title>
</head>

<body>
<div class="container calcContent">
	<h1 class="text-center">猝死风险预测方程-计算器</h1>
	<div class="container-fluid calcBox">
         <ul>
         	<li>
         		<span>最大室壁厚度(mm)：</span>
         		<input type="text">
         	</li>
         	<li>
         		<span>最大室壁厚度2(mm2)：</span>
         		<input type="text">
         	</li>
         	<li>
         		<span>左房内径(mm)：</span>
         		<input type="text">
         	</li>
         	<li>
         		<span>最大（静息/Valsalva动作）<br />左心室流出道压力阶差(mmHg)：</span>
         		<input class="mTop" type="text">
         	</li>
         	<li>
         		<span>心源性猝死家族史：</span>
         		<input type="text">
         	</li>
         	<li>
         		<span>NSVT：</span>
         		<input type="text">
         	</li>
         	<li>
         		<span>不能解释晕厥：</span>
         		<input type="text">
         	</li>
         	<li>
         		<span>临床评估年龄（岁）：</span>
         		<input type="text">
         	</li>
         	<li class="septalLine">点击提交后，计算结果显示如下:</li>
         	<li>
         		<span>预后指数：</span>
         		<strong></strong>
         	</li>       	
         	<li>
         		<span>5年心源性猝死可能性：</span>
         		<strong></strong>
         	</li>         	
         </ul>

         <div class="clear btnGroup">
			  <button type="button" class="btn btn-success">提交</button>
			  <button type="button" class="btn btn-primary">保存</button>   	
			  <button type="button" class="btn btn-default">重置</button>
         </div>
	</div>
</div>
<link rel="stylesheet" href="css/bootstrap.min.css"><!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="css/calcMain.css"><!-- 本页核心 CSS 文件 -->

<script src="js/jquery.min.js"></script><!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="js/bootstrap.min.js"></script><!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
</body>
</html>
