<div class="div_jy_query_ip" style="display: none">
    <p class="bottom10">
        <input class="form-control pull-left width300 margin10" id="input_ip" placeholder="{{ request_ip }}" onkeyup="check_input_ip(this);" value="{{ request_ip }}">
        <button class="btn btn-primary pull-left" id="btn_q_ip" disabled>查询</button>
        <span class="clear block"></span>
    </p>
    <p>
    <li>IP地址：<label id="ip_str">123.7.182.111</label></li>
    <li>IP地址：<label id="ip_value">2064103023</label></li>
    <li>IP归属地：<label id="ip_info1">河南洛阳</label></li>
    <li>IP归属地：<label id="ip_info2">河南洛阳</label></li>
    <li>IP分组：<label id="ip_group"></label></li>
    </p>
    <input id="ip_group_url" class="display_none" value="{{ ip_group_url }}" />
</div>