{% extends "base_menu.html" %}

{% block title %}晶云工具{% endblock %}

{% block center_content %}
    <button type="button" class="btn btn-primary margin20" id="btn_jy_query_ip">晶云IP查询</button>
    <button type="button" class="btn btn-primary margin20" id="btn_jy_wait">待开发</button>
    {% include "Tools/Tools_IP.html" %}
    {% include "Tools/Tools_wait.html" %}

    {{ 't_js/Common/JY_DIV.js' | make_script_html | safe }}
    {{ 't_js/Common/my_ip.js' | make_script_html | safe }}
    {{ 't_js/Tools/tools.js' | make_script_html | safe }}
{% endblock %}